/Library/PackageCache/
/Library/Artifacts
/Library/
/UserSettings/EditorUserSettings.asset
/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/UserSettings/Layouts/default-2021.dwlt
/.idea/
/ProjectSettings
Unity
/Temp/FSTimeGet-dcf080900b4d122479e6a558bbc972d1
/Temp/UnityLockfile
/Temp/workerlic
